@import "base";
@import "buttons";
@import "navbar";
@import "hero";
@import "services";
@import "subscription";
@import "testimonials";
@import "footer";

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* // Adjust font sizes here */
}

body {
  font-family: $primary-font;
  font-size: 1.125rem;
  line-height: 1.7;
  color: $dark-grayish-blue;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
  color: $color-primary-blue;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 300;
  color: $color-primary-blue;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}
